*.DS_Store
.idea/*
*node_modules
bigbrother-iphone/BigBrother.xcodeproj/xcuserdata/*
bigbrother-iphone/BigBrother.xcodeproj/project.xcworkspace/xcuserdata/*
bigbrother-iphone/BigBrother.xcodeproj/project.xcworkspace/xcshareddata/*

