extends layout

//- script(src='https://cdn.socket.io/socket.io-1.3.4.js')

block content
  h1= title
  p API for Emirates Hackathon 2015 - Singapore.

  button#offer1 Send offer 1
  button#offer2 Send offer 2
  button#reminder Send reminder
  button#emitRegisterUser Emit Register User
